* {
  box-sizing:border-box;
}

body {
  font-family: "Georgia", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.4;
  background: rgba(0,0,255,0.5);
}

label {
  display:flex;
  align-items: center;
}

form {
  background:hsla(44, 25%, 53%, 1);
  border-radius: 5px;
  box-shadow: 0.25em 0.25em hsla(44, 25%, 20%, 1);
}

input,
select,
textarea,
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.text-center {
  text-align: center;
}

.input-textarea {
  min-height: 120px;
  width: 100%;
  padding: 0.625rem;
  resize: vertical;
}
.container {
  margin: 50px auto 0 auto;
  max-width: 720px;
}

.form-group {
  margin: 0 auto 1.25rem auto;
  padding: 0.25rem;
}

.form-group-top {
  display: block;
  margin: 0;
  padding: 0.25rem;
}

.form-control {
  display: block;
  width: 100%;
}

.submit-button {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}

#survey-form {
  padding:40px;
}

@media(max-width: 560px){
  body {
    margin: 0;
    padding: 0;
  }

  .container {
    margin: 0;
    max-width: 100%;
  }

  p {
    font-size: 0.85rem;
  }

  form {
    max-width: 100%;
    background:hsla(44, 25%, 53%, 1);
    border-radius: 10px;
    box-shadow: none;
    border: solid 0.15em hsla(44, 25%, 20%, 1);
  }

  #survey-form {
    padding: 0.15rem;
  }
}
